.container {
    color: #24358c;
    font-family: Helvetica, Sans-Serif;
    margin: 5px;
}
.box {
    width: 40%;
    height: 200px;
    border: #444 1px solid;
}
.subBox {
    width: 50%;
    float: right;
    display: flex;
    justify-content: space-around;
}
.small {
}
.minusCircle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #24358c;
    border: #24358c;
}
